<div *ngIf="dataSource.data.length <= 0">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="dataSource.data.length > 0" class="mat-elevation-z8">
  <table id="users-table" [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <div class="table-name-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <img class="table-header-image" [src]="element.picture.thumbnail">
          <div fxLayout="column">
            <span class="table-name">{{element.name.title}}. {{element.name.first}} {{element.name.last}}</span>
            <span>{{element.nat}}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{ element.gender === "female" ? 'female' : 'male'}}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="toDetail">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element;let i = index">
        <button (click)="toDetail(element,i+1)" mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>